#Fogo {
    background: url(imgs/Elemicons/Fogo.png) no-repeat left;
    padding-left: 30px;
}

#Agua {
    background: url(imgs/Elemicons/Agua.png) no-repeat left;
    padding-left: 30px;
}

#Vento {
    background: url(imgs/Elemicons/Vento.png) no-repeat left;
    padding-left: 30px;
}

#Terra {
    background: url(imgs/Elemicons/Terra.png) no-repeat left;
    padding-left: 30px;
}

#Trovao {
    background: url(imgs/Elemicons/Raio.png) no-repeat left;
    padding-left: 30px;
}

#Gelo {
    background: url(imgs/Elemicons/Gelo.png) no-repeat left;
    padding-left: 30px;
}

#Magma {
    background: url(imgs/Elemicons/Magma.png) no-repeat left;
    padding-left: 30px;
}

#Natureza {
    background: url(imgs/Elemicons/Natureza.png) no-repeat left;
    padding-left: 30px;
}

#Luz {
    background: url(imgs/Elemicons/Luz.png) no-repeat left;
    padding-left: 30px;
}

#Sombra {
    background: url(imgs/Elemicons/Sombra.png) no-repeat left;
    padding-left: 30px;
}