html, body {
    min-height: 100%;
}

body {
    background-image: linear-gradient(#404040, #202020);
    margin-left: 10%;
    margin-right: 10%;
}

header {
    background-color: rgb(50, 20, 20);
    color: whitesmoke;
    text-align: center;
    padding-top: 1%;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 1% 10% 1% 10%;
    background-color: black;
}

header ul li {
    flex: 1;
    font-family: 'Cormorant SC', serif;
    font-size: 20px;
}

h1, h2, h3 {
    font-family: 'Cormorant SC', serif;
}

p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

main {
    background-image: linear-gradient(#DFC56A, #AB8D25);
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#Elementos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}
main ul {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
main h3 {
    padding-left: 10%;
    padding-right: 10%;
}

th {
    font-family: 'Cormorant SC', serif;
    font-size: 30px;
    text-align: center;
}

table {
    font-size: 20px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

.ttop {
    border-top: 2px solid black;
}

.tbottom {
    border-bottom: 2px solid black;
}

.tleft {
    border-left: 2px solid black;
}

.tright {
    border-right: 2px solid black;
}

a:link {
    text-decoration: none;
    color: goldenrod;
}

a:visited {
    color: rgb(150, 150, 150);
}

a:hover {
    color: silver;
}

a:active {
    color: white;
    outline: 2px outset silver
}

.textlink:link {
    color: indigo;
}

.textlink:visited  {
    color: indigo;
}

.textlink:hover {
    color: silver;
}

.textlink:active {
    color: white;
    outline: 2px outset silver
}
